.AlarmItems {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.btnActionRe {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background: #F41725;
  color: white;
  width: 90%;
  height: 40px;
  border-color:transparent;
}
.ActionRe {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #FFFFFF;
}
.cardCam {
  margin-top: 20px;
  margin-bottom: 20px;
}


.alertImg {
  width: 95%;
  position: relative;
  bottom: 20px;
}

.AlertTipoBtn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
}

.card-customer {
  margin: 10px;
}

.FromTo {
  width: 60px;
}


