<br />
<h2 style="margin:10px;"> <img src="../../../assets/Img/Localizacion.svg" /><strong>&nbsp;User Access App</strong></h2>
<br />

<div class="container">
  <div class="row">
    <div class="col-6">
      <div align="left">
        <button class="btn btn-link" (click)="Back()">Back</button>
      </div>
    </div>
    <div class="col-6">
      <div align="right">
        <button class="btn btnCreate" (click)="CreateUserAccess()">Create User Access App</button>
      </div>
    </div>
  </div>

  <br />
  <div class="table-responsive ">
    <table class="table  table-striped">
      <thead>
        <tr class="table-striped ">

          <th scope="col"> Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Phone</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let li of listUsers" class="table-striped ">


          <td>{{li.name}}</td>
          <td>{{li.lastName}}</td>
          <td>{{li.email}}</td>
          <td>{{li.phone}}</td>


          <td align="right">
            <div class="btn-group" role="group">


              <button (click)="Delete(li)" class="btn " style="background:#F41725; color:#FFFFFF">Delete</button>
              <button (click)="Update(li)" class="btn " style="background:#000000 ; color:#FFFFFF ">Update</button>

            </div>


          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
