<body>
  <div>
    <button class="btn btnBack btn-large btn-block" (click)="Back()"><img src="../../../assets/Img/west_black_24dp.svg" style="position:relative; bottom:2px;" /> Go Back</button>

  </div>
 
  <br />
  <div style=" color:white; text-align:center">
    <img src="https://storageaccountfuncu860c.blob.core.windows.net/redcode/logoCodeRed.png" />
  </div>
  <div class="login">
    <div class="login-screen">
      <br />
      <div align="center" class="app-title">
        <h1>Lost Password</h1>
      </div>
      <br>
      <form [formGroup]="formularioLostPassword">
        <div class="login-form">
          <div align="center" class="control-group">
            <input type="email" class="form-control" value="" formControlName="email" style="width:450px" autocomplete="off" placeholder="E-mail" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
            <p *ngIf="formularioLostPassword.controls['email'].invalid && formularioLostPassword.controls['email'].dirty" class="text-danger"
               style="bottom: 20px; right: 120px; position: relative; "> The e-mail field is mandatory</p>
          </div>

          <br />
          <div align="center" >
            <div  *ngIf="showSendMail">
              <button class="btn btn-dark btn-large btn-block"  style="width:200px; border-radius:25px;"   [disabled]="!formularioLostPassword.valid" (click)="Send()">Send Mail</button>
            </div>


          </div>
          <div align="center">
            <p *ngIf="!showSendMail">
              <strong>A letter was sent to your mail</strong>
            </p>

          </div>

          <br />

        </div>
      </form>
    </div>
  </div>
</body>

