<br />
<div class="" style="margin:auto">
  <!-- background:rgba(244, 23, 37, 0.24); -->
  <div class="card " style="  width: 90%;margin:auto">

    <a class="btn" style="cursor:pointer ">
      <div class="card-body" style="margin:0px; padding:0px;">
        <div class="row">
          <div class="col-4" style="margin:0px; padding:0px;">
            <span class="AlarmHistory"> <img src="../../../assets/Img/fight.svg" />&nbsp;Fight</span>
          </div>

          <div class="col-4" style="margin:0px; padding:0px;">
            <span class="AlarmHistory"> <img src="../../../assets/Img/cam.svg" />&nbsp;Camera 2</span>
          </div>

          <div class="col-4" style="margin:0px; padding:0px;">
            <span class="AlarmHistory"> <img src="../../../assets/Img/Localizacion.svg" />&nbsp;Backyard</span>
          </div>

        </div>



      </div>
    </a>

    <div class="card-body">
      <!--<hr style="bottom:20PX; position:relative" />-->
      <a style="cursor:pointer ">

        <img class="card-img-t alertImg " src="{{alert.full_photo}}" alt="Card image cap">
      </a>

      <!--<hr />-->
      <div class="row ">

        <div class="col-12 col-lg-6 text-center" style="margin-top:10px;">
          <div class="btn-group " aria-label="Basic example">

            <button type="button" class="btn  AlertTipoBtn" style="background: #000000 ; color: #FFFFFF" (click)="Confirm()">Confirm</button>
            <button type="button" class="btn  AlertTipoBtn" style="background: #FFFFFF; color: #000000" (click)="False()">False</button>

          </div>
        </div>


        <div class="col-12 col-lg-6 text-center" style="margin-top:10px;">
          <div class="btn-group" aria-label="Basic example">

            <button type="button" class="btn AlertTipoBtn" style="background: #000000 ; color: #FFFFFF" (click)="Admin()">Admin Panel</button>
            <button type="button" class="btn  AlertTipoBtn" style="background: #FFFFFF; color: #000000" (click)="Map()">Camera on map</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- background:rgba(244, 23, 37, 0.24); -->
  <div class="card" style="width: 90%;margin:auto; ">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-lg-6 text-center">
          <span class="AlarmHistory" style="font-size:x-large"> <mat-icon>assignment</mat-icon>&nbsp; Alarm History</span>

        </div>

        <div class="col-12 col-lg-6 text-center">

          <span style="font-size:x-large; margin-right:10px;"> <button style="background: #000000 ; color: #FFFFFF" class="btn  "><mat-icon>play_arrow</mat-icon></button></span>
          <span style="font-size:x-large; margin-right:10px;"> <button style="background: #FFFFFF; color: #000000" class="btn  " (click)="Download()"><mat-icon>cloud_download</mat-icon></button></span>
          <span style="font-size:x-large"> <button class="btn " style="background: #000000 ; color: #FFFFFF" target="_blank" (click)="Imagen()"><mat-icon>crop_original</mat-icon></button></span>

        </div>
      </div>
    </div>
  </div>
</div>
<div download id="myImg"></div>
