<br />
<h2 style="margin:10px;">  <mat-icon>delete</mat-icon><strong>&nbsp;{{data.tit}}</strong></h2>
<br />
<div align="center" style="">
  <h3>{{data.msg}}</h3>
</div>

<footer >

  <div  align="right" style="position:relative; bottom:100px; margin-top:20%; margin-right:10% ">
    <div class="btn-group"  aria-label="Basic example">

      <button class="btn btnBack " style="background:#000000; color: #ffffff;" (click)="OnClick()"> Back</button>
      <button (click)="Delete()" class="btn  " style="background: #F41725; color: #ffffff;"><mat-icon style="position:relative; bottom:-5px;">delete</mat-icon>&nbsp; Delete</button>
    </div>
  </div>
 
</footer>

